<div class="relative w-full">

  <div class="m-2">
    <app-button inputClass="border rounded w-[120px] shadow-md bg-blue-500 hover:bg-blue-600 text-white py-2 px-4"
      (click)="onAddCustomer()">
      {{ 'list.ADD' | translate }}
    </app-button>
  </div>

  <div class="border rounded overflow-x-scroll m-2">
    <table class="min-w-full">

      <thead class="h-[60px] w-[800px] border-b">
        <tr>
          <th class="border-r w-[80px] bg-gray-900 text-white text-sm py-2 px-4">{{ 'customer.ID' | translate }}
          </th>
          <th class="border-r w-[600px] bg-gray-600 text-white text-sm py-2 px-4">{{ 'customer.FULL_NAME' |
            translate }}</th>
          <th class="border-r w-[80px] bg-gray-500 text-white text-sm py-2 px-4">{{ 'customer.AGE' | translate }}
          </th>
          <th class="border-r w-[600px] bg-gray-400 text-white text-sm py-2 px-4">{{ 'customer.PHONE_NUMBER' |
            translate }}</th>
          <th class="w-[400px] bg-red-400 text-white text-sm py-2 px-4">{{ 'ui.ACTION' | translate }}
          </th>
        </tr>
      </thead>

      <tbody *ngIf="customerList$ | async as customerLists; else loadingSpinner" class="w-[800px]">
        <tr *ngFor="let customerList of customerLists" class="border-t">
          <td class="border-r w-[80px] bg-gray-300 text-gray-700 text-sm text-center py-2 px-4">{{ customerList.id }}</td>
          <td class="border-r w-[600px] bg-gray-300 text-gray-700 text-sm text-center whitespace-nowrap py-2 px-4"
            [title]="customerList.fullName">{{ customerList.fullName | textReducer: 25 }}</td>
          <td class="border-r w-[80px] overflow-x-auto bg-gray-300 text-gray-700 text-sm text-center py-2 px-4" [title]="customerList.age">{{
            customerList.age }}</td>
          <td class="border-r w-[600px] bg-gray-300 text-gray-700 text-sm text-center whitespace-nowrap py-2 px-4"
            [title]="customerList.phoneNumber">{{ customerList.phoneNumber | phoneNumberFormatter }}</td>
          <td class="flex justify-between w-[400px] bg-gray-300 text-sm py-2 px-10">
            <app-button class="rounded" inputClass="rounded w-[120px] shadow-md bg-red-400 hover:bg-red-500 text-white"
              (click)="onDeleteCustomer(customerList.id)">
              {{ 'list.DELETE' | translate }}
            </app-button>
            <app-button class="rounded" inputClass="rounded w-[120px] shadow-md bg-green-500 hover:bg-green-600 text-white"
              (click)="onEditCustomer(customerList)">
              {{ 'list.EDIT' | translate }}
            </app-button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <app-add-customer *ngIf="showAddModal$ | async" [showAddModal$]="showAddModal$"></app-add-customer>
  <app-delete-customer *ngIf="showDeleteModal$ | async" [showDeleteModal$]="showDeleteModal$"
    [costumerId]="customerId"></app-delete-customer>
  <app-edit-customer *ngIf="showEditModal$ | async" [showEditModal$]="showEditModal$"
    [editableCustomerData]="editableCustomerData"></app-edit-customer>
</div>

<ng-template #loadingSpinner>
  <app-loading></app-loading>
</ng-template>
